<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "" %>
  </div>
 
  <div id="content">
    <h1>Hey, I'm Ashleigh!</h1>
    <p>Welcome to my blog I built in Rails 4. Pretty cool, right? </p>
    <p>Find me on Twitter <a href="http://twitter.com/ashleighalmeid">@AshleighAlmeid</a> or on the web <a href="https://aaportfolio.herokuapp.com">here</a>.</p>
  </div>
</div>